services:
  jekyll:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/site
    environment:
      JEKYLL_ENV: development
    command: bundle exec jekyll serve --host 0.0.0.0 --port 4000
